In [1]:
import os
import pandas as pd
import glob
import json
data_path = "../data/interim/v3"
dataset_target_path = "../data/processed"

In [2]:
from lib import read_dataset
# reads dataset, and generates intensity
data_on, data_off = read_dataset(data_path, classes = 2)

0 milenkosKitchenNotNearDevices1
1 milenkosRoomNearDevices1
2 milenkosRoomNearDevices

In [3]:
from lib import add_intensity_to_dataset
add_intensity_to_dataset(data_on)
add_intensity_to_dataset(data_off)

In [4]:
data_on[list(data_on.keys())[0]]

,Unnamed: 0,X_UnCal,Y_UnCal,Z_UnCal,X_Bias,Y_Bias,Z_Bias,time_UnCal,Accuracy,Intensity
0,0,0.2196,37.9054,-74.688400,0.0,0.0,0.0,3464479595950,1,83.756938
1,1,1.0370,38.1860,-74.859200,0.0,0.0,0.0,3464489596194,1,84.042524
2,2,-4.9044,37.2222,-77.445595,0.0,0.0,0.0,3464499595950,1,86.066053
3,3,0.1464,37.8200,-75.652200,0.0,0.0,0.0,3464509595950,1,84.579130
4,4,1.3664,38.0640,-73.785600,0.0,0.0,0.0,3464519595461,1,83.036437
...,...,...,...,...,...,...,...,...,...,...
5993,5993,4.7336,38.2714,-72.333800,0.0,0.0,0.0,3524409845461,1,81.971249
5994,5994,5.3558,38.4666,-72.541200,0.0,0.0,0.0,3524419790285,1,82.283593
5995,5995,4.3188,38.0396,-72.492400,0.0,0.0,0.0,3524429815432,1,81.980554
5996,5996,4.6482,38.2958,-72.577800,0.0,0.0,0.0,3524439790285,1,82.193133
5997,5997,3.6234,38.3690,-72.748600,0.0,0.0,0.0,3524449791750,1,82.326593

In [10]:
from lib import spectral_dataset
dataset_on = spectral_dataset(data_on, 6, vec_len=50, column='Intensity')
dataset_off = spectral_dataset(data_off, 5, vec_len=50, column='Intensity')

In [11]:
dataset_on

,Name,Label,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49,50
0,milenkosKitchenNotNearDevices1,6,168.226700,1.896104,1.649988,1.315992,1.094898,1.220926,1.087022,0.972637,...,0.824714,0.896729,0.916614,0.732622,0.875792,0.949551,0.889610,0.918843,1.559893,0.0
1,milenkosRoomNearDevices1,6,191.855142,1.319011,1.091971,1.258759,1.045074,1.037540,0.971833,1.027048,...,0.815539,0.837696,0.883702,0.720174,0.844878,0.746106,0.959270,0.782418,1.231886,0.0
2,milenkosRoomNearDevices,6,192.985566,1.637898,1.230603,1.162957,1.082392,1.234399,1.056224,0.991033,...,0.787571,0.640567,0.740041,0.800987,0.797628,0.774023,0.817842,0.774084,1.267119,0.0

In [12]:
from lib import join_and_order_dataset
data_fourier = join_and_order_dataset([dataset_on, dataset_off])
data_fourier

,Name,Label,1,2,3,4,5,6,7,8,...,41,42,43,44,45,46,47,48,49,50
0,milenkosKitchenNotNearDevices1,5,166.914382,0.990365,0.822009,0.876246,0.956058,0.903413,0.828731,0.771207,...,0.842836,0.676475,0.738185,0.869702,0.912243,0.744218,0.660308,0.752530,1.118430,0.0
1,milenkosRoomNearDevices,5,192.406056,1.602865,1.191045,1.248905,1.110698,0.911207,0.818900,0.876682,...,0.762566,0.798861,0.783117,0.837648,0.798915,0.847812,0.698770,0.823476,1.290208,0.0
2,milenkosRoomNearDevices1,5,192.406056,1.602865,1.191045,1.248905,1.110698,0.911207,0.818900,0.876682,...,0.762566,0.798861,0.783117,0.837648,0.798915,0.847812,0.698770,0.823476,1.290208,0.0
3,milenkosKitchenNotNearDevices1,6,168.226700,1.896104,1.649988,1.315992,1.094898,1.220926,1.087022,0.972637,...,0.824714,0.896729,0.916614,0.732622,0.875792,0.949551,0.889610,0.918843,1.559893,0.0
4,milenkosRoomNearDevices,6,192.985566,1.637898,1.230603,1.162957,1.082392,1.234399,1.056224,0.991033,...,0.787571,0.640567,0.740041,0.800987,0.797628,0.774023,0.817842,0.774084,1.267119,0.0
5,milenkosRoomNearDevices1,6,191.855142,1.319011,1.091971,1.258759,1.045074,1.037540,0.971833,1.027048,...,0.815539,0.837696,0.883702,0.720174,0.844878,0.746106,0.959270,0.782418,1.231886,0.0

In [13]:
import time
# metadata
metadata = {
    "title": "Fourier dataset, 50 frequencies",
    "version": "v3",
    "description": "Dataset from v3 data, single device, without traffic, statistical features",
    "author": "Mihael",
    "places": [
        "room",
        "kitchen"
    ],
    "stages": 2,
    "traffic": False,
    "format": "processed",
    "created": int(time.time())
}
from lib import save_dataset
save_dataset(data_fourier, dataset_target_path, dataset_name = 'fourier', metadata=metadata)